<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/bank</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="at.ac.fhsalzburg.swd.entities.BankEntity"/>
        <mapping class="at.ac.fhsalzburg.swd.entities.ContraAccountEntity"/>
        <mapping class="at.ac.fhsalzburg.swd.entities.CustodyTransactionEntity"/>
        <mapping class="at.ac.fhsalzburg.swd.entities.CustomerEntity"/>
        <mapping class="at.ac.fhsalzburg.swd.entities.StocksPortfolioEntity"/>
        <mapping class="at.ac.fhsalzburg.swd.entities.TransactionEntity"/>
        <mapping class="at.ac.fhsalzburg.swd.entities.CheckingAccountEntity"/>
        <mapping class="at.ac.fhsalzburg.swd.entities.SavingsAccountEntity"/>
        <mapping class="at.ac.fhsalzburg.swd.entities.CustodyAccountEntity"/>
        <!--<mapping class="at.ac.fhsalzburg.swd.entities"/>-->
    </session-factory>
</hibernate-configuration>